body, html {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    background: #181a1b !important;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
    display: none;
}

hr {
    background: #1e2021 !important;
}
h1, h2 {
    color: #fff !important;
}
